<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

<h:head>
    <title>MediaScreen</title>
    <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
    <h:outputStylesheet library="css" name="style.css" />
    <ui:insert name="scripts" />
</h:head>

<h:body>
    <div class="ui-g">
        <div class="ui-g-12 ui-md-2">
            <p:megaMenu orientation="vertical">
                <p:menuitem value="Patient" url="/patient.xhtml"/>
            </p:megaMenu>
        </div>
        <div class="ui-g-12 ui-md-9 ui-g-nopad">
            <ui:insert name="body"/>
        </div>

    </div>


    <h:form id="msgs" >
        <p:growl showDetail="true"  life="1000"  />
    </h:form>
</h:body>
</html>