<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

<ui:composition template="template/template.xhtml">

    <ui:define name="scripts">
        <h:outputScript library="js" name="patient.js"/>
    </ui:define>

    <ui:define name="body">
        <h:form id="list-note">
            <p:panel header="List" closable="false" toggleable="true">
                <p:dataTable value="#{patientBean.patients}"
                             var="patient"
                             paginator="true"
                             rowsPerPageLabel="5,10,15"
                             rows="5"
                             editable="true"
                             rowKey="#{patient.id}"
                             emptyMessage="No patients found"
                >
                    <p:ajax event="rowEdit" listener="#{patientBean.editPatient}" update="msgs"/>
                    <f:facet name="header">
                        <div class="p-grid p-justify-end">
                            <p:commandButton value="Display/Hide new Patient"
                                             actionListener="#{patientBean.displayHideNewPatient()}"
                                             update="patient-form"
                                             styleClass="margin-right-m"
                                             icon="pi pi-user-plus "/>
                            <p:inputText value="#{patientBean.inputLastNameSearched}"
                                         placeholder="Last name">
                                <p:ajax update="list-note" listener="#{patientBean.filteringPatients()}"
                                        event="keyup" delay="200"/>
                            </p:inputText>
                        </div>
                    </f:facet>
                    <p:column headerText="First name">
                        <p:cellEditor>
                            <f:facet name="output">#{patient.firstName}</f:facet>
                            <f:facet name="input"><p:inputText value="#{patient.firstName}"/></f:facet>
                        </p:cellEditor>

                    </p:column>
                    <p:column headerText="Last name">
                        <p:cellEditor>
                            <f:facet name="output">#{patient.lastName}</f:facet>
                            <f:facet name="input"><p:inputText value="#{patient.lastName}"/></f:facet>
                        </p:cellEditor>
                    </p:column>
                    <p:column headerText="Birth date">
                        <p:cellEditor>
                            <f:facet name="output"><h:outputText value="#{patient.birthDate}"
                                                                 converter="javax.faces.DateTime"/></f:facet>
                            <f:facet name="input"><p:calendar pattern="dd/MM/yyyy"
                                                              value="#{patient.birthDate}"/></f:facet>
                        </p:cellEditor>
                    </p:column>
                    <p:column headerText="Sex">
                        <p:cellEditor>
                            <f:facet name="output">#{patient.sex}</f:facet>
                            <f:facet name="input">
                                <p:selectOneButton value="#{patient.sex}">
                                    <f:selectItem itemLabel="M" itemValue="M" />
                                    <f:selectItem itemLabel="F" itemValue="F" />
                                </p:selectOneButton>
                            </f:facet>
                        </p:cellEditor>
                    </p:column>
                    <p:column headerText="Address">
                        <p:cellEditor>
                            <f:facet name="output">#{patient.address}</f:facet>
                            <f:facet name="input"><p:inputText value="#{patient.address}"/></f:facet>
                        </p:cellEditor>
                    </p:column>
                    <p:column headerText="Phone">
                        <p:cellEditor>
                            <f:facet name="output">#{patient.phone}</f:facet>
                            <f:facet name="input"><p:inputText value="#{patient.phone}"/></f:facet>
                        </p:cellEditor>
                    </p:column>
                    <p:column headerText="Edit" styleClass="col-edit">
                        <p:rowEditor/>
                    </p:column>
                    <p:column styleClass="col-search" headerText="Notes">
                        <p:commandButton update="notes msgs" actionListener="#{patientBean.loadNotes(patient)}"
                                         icon="pi pi-bars" title="Note menu"/>
                    </p:column>
                    <p:column headerText="Report" styleClass="col-repport">
                        <p:commandButton update="list-note:repportDetails"
                                         actionListener="#{patientBean.loadReport(patient)}"
                                         icon="pi pi-sliders-v"
                                         oncomplete="PF('repportOP').show('#{component.clientId}')"
                                         title="repport"/>
                    </p:column>
                </p:dataTable>

            </p:panel>

            <p:overlayPanel widgetVar="repportOP" showEffect="fade" dismissable="true" showCloseIcon="true">
                <p:outputPanel id="repportDetails">
                    <p:panelGrid columns="2" styleClass="grid-rapport">
                        <f:facet name="header">
                            <div class="#{patientBean.repportSelected.level}">
                                <h:outputText value="Level of report : #{patientBean.repportSelected.level}"/>
                            </div>
                        </f:facet>

                        <h:outputText value="Age"/>
                        <h:outputText value="#{patientBean.repportSelected.ageCalculated}"/>

                        <h:outputText value="Triggers found"/>
                        <h:outputText value="#{patientBean.listOfTriggersFromRapportSelected}"/>
                    </p:panelGrid>

                </p:outputPanel>
            </p:overlayPanel>

        </h:form>


        <h:form id="patient-form">
            <p:panel header="Add a patient" closable="false" toggleable="true"
                     rendered="#{patientBean.displayNewPatientForm}">
                <div class="ui-g ui-fluid">
                    <div class="ui-g-12 ui-md-6">
                        <p:inputText id="input-firstName" value="#{patientBean.userInputPatient.firstName}"
                                     placeholder="First name"/>
                    </div>
                    <div class="ui-g-12 ui-md-6">
                        <p:inputText id="input-lastName" value="#{patientBean.userInputPatient.lastName}"
                                     placeholder="Last name"/>
                    </div>
                    <div class="ui-g-12 ">
                        <p:calendar value="#{patientBean.userInputPatient.birthDate}" />

                    </div>
                    <div class="ui-g-12 ui-md-6">
                        <p:inputText value="#{patientBean.userInputPatient.address}" placeholder="Address"/>


                    </div>
                    <div class="ui-g-12 ui-md-6">
                        <p:inputText value="#{patientBean.userInputPatient.phone}" placeholder="Phone"/>

                    </div>

                    <div class="ui-g-12 ">
                        <p:message for="input-firstName" showDetail="true">
                            <p:autoUpdate/>
                        </p:message>
                        <p:message for="input-lastName" showDetail="true">
                            <p:autoUpdate/>
                        </p:message>
                    </div>
                    <div class="ui-g-12 ">
                        <p:commandButton value="Save" actionListener="#{patientBean.addPatient}"
                                         update="list-note patient-form "/>

                    </div>
                </div>
            </p:panel>
        </h:form>

        <h:form id="notes">
            <div class="ui-g ui-fluid">

                <h:panelGroup rendered="#{patientBean.displayNewNoteInput}">
                    <div class="ui-g-2">
                        <p:commandButton value="Open new note form" icon="pi pi-plus"
                                         actionListener="#{patientBean.loadNewNote()}"
                                         update="@form"/>

                    </div>
                </h:panelGroup>
                <h:panelGroup rendered="#{patientBean.displayNewNoteForm}">
                    <div class="ui-g-10" id="note-form">
                        <div class="ui-g ui-fluid">
                            <div class="ui-g-4">
                                <p:inputText value="#{patientBean.noteInput.author}" placeholder="Author"/>
                            </div>
                        </div>
                        <div class="ui-g ui-fluid">
                            <div class="ui-g-12">
                                <p:textEditor value="#{patientBean.noteInput.text}" placeholder="Your note"
                                              allowImages="false" allowLinks="false" styleClass="editor-note">
                                    <f:facet name="toolbar">
                                         <span class="ql-formats">
                                            <button class="ql-bold"/>
                                            <button class="ql-italic"/>
                                            <button class="ql-underline"/>
                                            <button class="ql-strike"/>
                                        </span>
                                        <span class="ql-formats">
                                            <select class="ql-font"/>
                                            <select class="ql-size"/>
                                        </span>
                                    </f:facet>
                                </p:textEditor>
                            </div>
                        </div>
                        <div class="ui-g ui-fluid">
                            <div class="ui-g-3"></div>
                            <div class="ui-g-2">
                                <p:commandButton actionListener="#{patientBean.createNote()}" value="Create Note"
                                                 update="@form" icon="pi pi-plus"/>
                            </div>
                            <div class="ui-g-2"></div>
                            <div class="ui-g-2">
                                <p:button value="Close" icon="pi pi-times"
                                          onclick="hideAddNoteForm()"/>
                            </div>
                        </div>
                    </div>
                </h:panelGroup>


                <h:panelGroup rendered="#{patientBean.displayNotes}">
                    <p:dataGrid var="note" value="#{patientBean.notes}" columns="3" styleClass="datagrid-note">
                        <table class="note">
                            <tr>
                                <th>
                                    <h:outputText value="#{note.author}, " escape="false"/>
                                    <h:outputText value="#{note.dateOfInput}" escape="false"/>
                                </th>
                                <th>
                                    <p:commandButton icon="pi pi-pencil"
                                                     styleClass="btn-icon"
                                                     actionListener="#{patientBean.loadEditNote(note)}"
                                                     update="form-edit-note"
                                                     title="Edit Note"/>

                                    <p:commandButton icon="pi pi-times"
                                                     styleClass="btn-icon"
                                                     actionListener="#{patientBean.deleteNote(note)}"
                                                     update="notes"
                                                     title="Delete Note"/>
                                </th>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    <h:outputText value="#{note.text}" escape="false"/>
                                </td>
                            </tr>
                        </table>


                    </p:dataGrid>
                </h:panelGroup>
            </div>
        </h:form>
        <h:form id="form-edit-note">

            <h:panelGroup rendered="#{patientBean.displayNoteToEditForm}">
                <div class="ui-g-10">
                    <div class="ui-g ui-fluid">
                        <div class="ui-g-4">
                            <p:inputText value="#{patientBean.noteToEdit.author}" placeholder="Author"/>
                        </div>
                    </div>
                    <div class="ui-g ui-fluid">
                        <div class="ui-g-12">
                            <p:textEditor value="#{patientBean.noteToEdit.text}" placeholder="Your note"
                                          allowImages="false" allowLinks="false" styleClass="editor-note">
                                <f:facet name="toolbar">
                                         <span class="ql-formats">
                                            <button class="ql-bold"/>
                                            <button class="ql-italic"/>
                                            <button class="ql-underline"/>
                                            <button class="ql-strike"/>
                                        </span>
                                    <span class="ql-formats">
                                            <select class="ql-font"/>
                                            <select class="ql-size"/>
                                        </span>
                                </f:facet>
                            </p:textEditor>
                        </div>
                    </div>
                    <div class="ui-g ui-fluid">
                        <div class="ui-g-3"></div>
                        <div class="ui-g-2">
                            <p:commandButton actionListener="#{patientBean.updateNote()}" value="Update Note"
                                             update="form-edit-note notes" icon="pi pi-plus"/>
                        </div>
                        <div class="ui-g-2"></div>
                        <div class="ui-g-2">
                            <p:commandButton value="Close" icon="pi pi-times" update="form-edit-note"
                                             actionListener="#{patientBean.resetEditNote()}"/>
                        </div>
                    </div>
                </div>
            </h:panelGroup>

        </h:form>
    </ui:define>
</ui:composition>
</html>