html, body {
    background-color: #323232;
}
.ui-datatable td
{
    text-align: center;
}
.ui-datatable .ui-datatable-header {
    text-align: right !important;
}

.ui-datatable .col-edit {
    width: 2.5vh !important;
    text-align: center;

}

.ui-datatable .col-search {
    width: 3.5vh !important;
    text-align: center;

}

.ui-datatable .col-repport {
    width: 4.5vh !important;
    text-align: center;
}

.margin-right-m {
    margin-right: 1em !important;
}

.ui-growl {
    left: 1vh;
}

.datagrid-note > * {
    border: 0 !important;
}

.datagrid-note .note td {
    background-color: #585858;
    color: #dddddd;
    padding-left: 1em;
}

.datagrid-note .note th {
    background-color: #252525;
    color: #ddd;
    padding: 1em;
    font-size: 1.2em;
    text-align: right;


}

.datagrid-note .note th:first-child {
    text-align: center !important;
}

.datagrid-note .note {
    border-collapse: collapse;

}

.LIMITED {
    background: yellow !important;
    color: #252525;}

.DANGER {
    background: orangered !important;
    color: #252525;
}

.EARLY {
    background: red !important;
    color: #252525;
}

.datagrid-note .note .btn-icon {
    background-color: #252525 !important;
    border: none !important;

}

